extends _template.pug

block nav
	li.nav-item: a(href="/u/all" class="nav-link") Ver usuarios
	li.nav-item: a(href="/u/create" class="nav-link") Crear usuario

block main
	h3 Express App + Bootstrap
	p Esta aplicacion fue hecha utilizando Express, Pug JS y Bootstrap, se puede hacer una configuracion para que los usuarios se guarden en una base de datos no relacional o sql.
